@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.title-bar {
  width: 100%;
  background-color: #ebb760;
  color: white;
  text-shadow: 5px 0 black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 15vh;
}

#title-name {
  font-family: Orbitron;
  font-size: 5em;
}
