button {
    border: 4px;
    border-radius: 10px;
    background-color: #6D5959;
    color:  #ebb760;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

label {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

textarea {
    margin: 10px;
    width: 1000px;
    height: 200px;
}
