.user-profile {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #fff;
  background-color: #121212;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 2px;
}

.follow-button {
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
}

.follow-button:hover {
  background-color: #444;
  transform: scale(1.05);
}


.profile-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #121212;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.profile-section h2 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}


.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.card {
  background-color: #1c1c1c;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.card:hover {
  background-color: #333;
  transform: scale(1.02);
  cursor: pointer;
}


.card-title {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-description {
  color: #ccc;
  font-size: 1rem;
}


.card-description p {
  margin: 5px 0;
}


.card-description + p {
  margin-top: 10px;
}