body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background-color: #4b3c3c;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    color: white;
    border-radius: 8px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
}

.date-container {
    display: flex;
    justify-content: space-between;
}

.date-container div {
    width: 48%;
}

.date-container label {
    margin-top: 10px;
}

.date-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #f9f9f9;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

.btn-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #4cae4c;
}